@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  scroll-behavior: smooth;
}

body {
  @apply font-lora text-[#202733] text-base bg-[#EEEAE2];
  min-height: 100%;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

@layer components {
  .btn-primary {
    @apply text-lg font-bold bg-[#202733] text-white rounded-full font-avenir !important;
  }
  .btn-secondary {
    @apply px-5 py-2 m-2 text-lg font-bold bg-transparent text-[#202733] border border-[#202733] rounded-full font-avenir;
  }
  .container {
    @apply px-4 mx-auto;
  }
}
@layer components {
  h1, h2, h3, h4, h5, h6 {
    @apply font-avenir;
  }
}
